<%- include('partials/header') %>
<h1>Welcome to the Inventory Application</h1>
<ul>
  <li>Total Items: <%= item_count %></li>
  <li>Total Categories: <%= category_count %></li>
</ul>
<%- include('partials/footer') %>
